.synonyms-container {
    position: absolute;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.synonyms-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.synonyms-item {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.synonyms-item:last-child {
    border-bottom: none;
}

.synonyms-item:hover {
    background: #eee;
}